# **Exercise: Pandas Merging**

Gunakan datasets:
- audi.csv
- hyundai.csv
- toyota.csv

Dataset ini berisi data penjualan mobil bekas

Load ketiga dataset di atas, kemudian simpan masing-masing dataset ke dalam sebuah variable!

Selain menggunakan materi yang telah didapatkan, gunakan juga skill googling Anda untuk mempermudah mengerjakan latihan ini.

In [1]:
import numpy as np
import pandas as pd

Dataset: https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes?select=toyota.csv

Di bawah ini adalah tampilan 5 baris pertama dari ketiga dataset tersebut

**Audi**

In [2]:
df_audi = pd.read_csv('audi.csv')
df_audi.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

**Hyundai**

In [3]:
df_hyundai = pd.read_csv('hyundai.csv')
df_hyundai.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,I20,2017,7999,Manual,17307,Petrol,145,58.9,1.2
1,Tucson,2016,14499,Automatic,25233,Diesel,235,43.5,2.0
2,Tucson,2016,11399,Manual,37877,Diesel,30,61.7,1.7
3,I10,2016,6499,Manual,23789,Petrol,20,60.1,1.0
4,IX35,2015,10199,Manual,33177,Diesel,160,51.4,2.0

**Toyota**

In [4]:
df_toyota = pd.read_csv('toyota.csv')
df_toyota.head()

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

## **No.1**

- Jika Anda perhatikan, nama kolom 'tax(£)' di dataset hyundai berbeda dengan di dataset lainnya.
- Ubah nama kolom tersebut menjadi 'tax' agar sama dengan di dataset yang lain.

## **No.2**

- Buat kolom baru bernama 'brand' dengan isi nama brand mobilnya, letakkan pada kolom paling kiri. 
- Misalnya:
    - Untuk data frame audi, isi kolom 'brand' dengan 'Audi' semua!
    - Untuk data frame hyundai, isi kolom 'brand' dengan 'Hyundai' semua!
    - Untuk data frame toyota, isi kolom 'brand' dengan 'Toyota'semua!

## **No.3**

- Gabungkan ketiga data frame tersebut menjadi sebuah data frame bernama df_car. Atur agar indexnya tidak ada yang berulang.

## **No.4**

- Pada kolom 'model' di sebagian data, ada whitespace tambahan di awal atau di akhir yang tidak berguna. 
- Hapus whitespace tersebut dari semua data pada kolom 'model'!

## **No.5**

- Dari df_car, tampilkan rata-rata pajak/tax berdasarkan brand dan transmission. Lalu urutkan dari tax yang paling tinggi.

## **No.6**

- Anda diminta untuk mencari mobil Toyota Camry yang harganya (price) di bawah rata-rata harga Camry dan jarak tempuhnya (mileage) di bawah rata-rata mileage Camry juga. 
- Tampilkan mobil yang sesuai dengan kriteria tersebut!

## **No.7**

Simpan df_car ke dalam format .csv dengan nama file 'all_cars.csv'!

## **No.8**

Tampilkan mobil paling mahal!

## **No.9**

Pada tahun berpa mobil Toyota paling banyak muncul

## **No.10**

Tampilkan jumlah mobil totoya keluaran 2019 untuk tiap model

## **No.11**

Tampilkan model dari Toyota yang paling irit (mpg paling tinggi)

## **No.12**

Tamplikan mobil yang nama modelnya mengandung huruf 'x'!

## **No.13**

Buat dataframe baru dengan pivot table berisi rata-rata tax tiap transmission dan fuelType

## **No.14**

Ada berapa model yang hanya ada 1 unit mobil di dataset ini? (mobil langka)