* Radif Ramadan

* Data Science / JCSDOL-014

* Modul 3 - Day 27

---
---

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

1. Buatlah Dataframe yg berisi List digimon yg berasal dari web `http://digidb.io/digimon-list/` .

In [2]:
df = pd.read_html('http://digidb.io/digimon-list/')
df

[       #         Digimon Stage     Type Attribute  Memory  Equip Slots    HP  \
 0      1         Kuramon  Baby     Free   Neutral       2            0   590
 1      2         Pabumon  Baby     Free   Neutral       2            0   950
 2      3         Punimon  Baby     Free   Neutral       2            0   870
 3      4         Botamon  Baby     Free   Neutral       2            0   690
 4      5         Poyomon  Baby     Free   Neutral       2            0   540
 ..   ...             ...   ...      ...       ...     ...          ...   ...
 336  337     Alphamon NX  Mega  Vaccine   Neutral       6            1   980
 337  338  Crusadermon NX  Mega    Virus      Dark       6            1  1030
 338  339   Leopardmon NX  Mega     Data     Light       6            1   960
 339  340      Omnimon NX  Mega  Vaccine     Light       6            1  1010
 340  341   Gallantmon NX  Mega    Virus     Light       6            1  1070

       SP  Atk  Def  Int  Spd
 0     77   79   69   68   95
 1     62   76   76   69   68
 2     50   97   87   50   75
 3     68   77   95   76   61
 4     98   54   59   95   86
 ..   ...  ...  ...  ...  ...
 336  104  109  114  109  116
 337  100  118   99  109  121
 338  109  112   91  116  126
 339   98  116  111  111  113
 340   93  122  109  111  108

 [341 rows x 13 columns]]

In [3]:
df = df[0]
df

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116
337,338,Crusadermon NX,Mega,Virus,Dark,6,1,1030,100,118,99,109,121
338,339,Leopardmon NX,Mega,Data,Light,6,1,960,109,112,91,116,126
339,340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113
340,341,Gallantmon NX,Mega,Virus,Light,6,1,1070,93,122,109,111,108

2.  Akses Digimon yg bertipe Vaccine dan memiliki HP diatas 1100.

In [4]:
df[(df.Type == 'Vaccine') & (df.HP > 1100)]

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
33,34,Gomamon,Rookie,Vaccine,Water,5,1,1160,69,93,93,81,79
40,41,ToyAgumon,Rookie,Vaccine,Neutral,4,1,1110,87,72,112,63,71
59,60,Lucemon,Rookie,Vaccine,Light,14,1,1230,148,59,104,208,119
70,71,Ikkakumon,Champion,Vaccine,Water,8,1,1330,84,118,102,94,90
89,90,Greymon,Champion,Vaccine,Fire,8,1,1230,74,148,118,64,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,319,Susanomon,Ultra,Vaccine,Light,25,1,1630,129,183,158,149,149
324,325,Rapidmon (Armor),Armor,Vaccine,Light,18,3,1140,114,158,178,158,124
329,330,Hisyaryumon,Ultimate,Vaccine,Neutral,14,1,1200,89,183,157,74,123
330,331,Ouryumon,Mega,Vaccine,Neutral,20,2,1350,104,221,179,84,158
333,334,Sistermon B (Awake.),Rookie,Vaccine,Light,18,2,1310,175,72,112,191,165

3.  Berapa jumlah Digimon Virus yg memiliki HP diatas rata-rata, memiliki Memory diatas 18,
memiliki Attack diatas 100, dan speed nya diatas atau sama dengan rata-rata. Output berupa
Nilai (Angka Jumlahnya)

In [5]:
digimon_virus_stat = df[
    (df.Type == 'Virus') & 
    (df.HP > df.HP.mean()) & 
    (df.Memory > 18) & 
    (df.Atk > 100) & 
    (df.Spd >= df.Spd.mean())
]

print(f'Jumlah Digimon Virus dengan Stats terkait : {len(digimon_virus_stat)}')

Jumlah Digimon Virus dengan Stats terkait : 21

In [6]:
digimon_virus_stat

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
212,213,Lucemon FM,Ultimate,Virus,Neutral,22,2,1390,139,163,114,203,139
217,218,Arcadiamon Mega,Mega,Virus,Dark,20,2,1410,153,196,109,119,163
226,227,VenomMyotismon,Mega,Virus,Dark,20,3,1540,120,193,104,148,138
231,232,ChaosGallantmon,Mega,Virus,Dark,22,1,1340,139,178,139,163,144
232,233,Chaosdramon,Mega,Virus,Electric,20,2,1630,99,203,173,109,134
237,238,GranDracmon,Mega,Virus,Dark,20,2,1340,140,174,114,169,151
257,258,TyrantKabuterimon,Mega,Virus,Plant,20,2,1530,108,174,164,123,159
260,261,Creepymon,Mega,Virus,Dark,22,2,1440,133,183,114,183,140
261,262,Gallantmon,Mega,Virus,Light,22,1,1480,148,149,154,149,148
275,276,BlackWarGreymon,Mega,Virus,Fire,20,2,1730,93,183,178,89,140
277,278,Breakdramon,Mega,Virus,Earth,20,2,1880,89,213,168,94,129
280,281,Beelzemon,Mega,Virus,Dark,22,1,1680,114,228,119,99,168
281,282,Beelzemon BM,Mega,Virus,Dark,25,2,1680,114,238,124,104,178
290,291,Minervamon,Mega,Virus,Neutral,20,3,1580,114,208,114,119,168
294,295,Megidramon,Mega,Virus,Fire,20,2,1690,120,199,132,109,153
299,300,Merukimon,Mega,Virus,Wind,20,2,1320,115,178,138,141,177
301,302,Leviamon,Mega,Virus,Water,22,1,1730,120,168,158,144,133
305,306,Crusadermon,Mega,Virus,Dark,22,2,1240,153,144,139,144,193
310,311,Arcadiamon Ultra,Ultra,Virus,Dark,25,2,1510,158,204,109,134,170
319,320,Gallantmon CM,Ultra,Virus,Light,25,2,1480,139,203,124,139,173
320,321,Belphemon RM,Ultra,Virus,Dark,25,2,1780,84,247,168,109,140

4. Simpan dataframe tadi ke dalam bentuk file csv dg nama Digimon.csv, tanpa menggunakan
Index

In [7]:
digimon_virus_stat.to_csv('digimon.csv', index = False)

5.  Buat table yg menunjukan Jumlah Digimon dari setiap Type Digimon (DataFrame).

In [8]:
df.groupby("Type")[["Digimon"]].count()

         Digimon
Type
Data          80
Free          52
Vaccine       97
Virus        112

6. Buat table yg menunjukkan rata-rata HP dan Attack tertinggi Berdasarkan Stage Digimonnya.

In [20]:
df.groupby("Stage")[["HP", "Atk"]].mean().round(0)

                 HP    Atk
Stage
Armor        1170.0  148.0
Baby          810.0  561.0
Champion     1085.0  114.0
In-Training   834.0   82.0
Mega         1423.0  157.0
Rookie        927.0   94.0
Ultimate     1285.0  135.0
Ultra        1526.0  194.0

7.  Ubah nilai HP Kuramon menjadi 1000 dan Attack nya menjadi 2500.

In [10]:
df.loc[df.Digimon == 'Kuramon', 'HP'] = 1000
df.loc[df.Digimon == 'Kuramon', 'Atk'] = 2500
df[df.Digimon == 'Kuramon']

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,1000,77,2500,69,68,95

8.  Tampilkan 3 Stage Digimon yg memiliki Rata-rata HP tertinggi.

In [ ]:
df.groupby("Stage")["HP"].mean().sort_values(ascending=False).round(0).head(3).reset_index()

      Stage      HP
0     Ultra  1526.0
1      Mega  1423.0
2  Ultimate  1285.0

9. Lakukan Pengecekan Digimon yg memiliki HP Outliers, Jika ada, tampilkan Nama dan Atk digimon-digimon 
tersebut.

In [12]:
Q1 = df.HP.quantile(0.25)
Q3 = df.HP.quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_HP_outliers = df[(df.HP < lower_bound) | (df.HP > upper_bound)]

df_HP_outliers

Empty DataFrame
Columns: [#, Digimon, Stage, Type, Attribute, Memory, Equip Slots, HP, SP, Atk, Def, Int, Spd]
Index: []

In [13]:
print(lower_bound, upper_bound, df.HP.min(), df.HP.max())

315.0 2115.0 450 2080

10. Pisahkan Data digimon yg memiliki Atk Outliers dan yg bukan Outliers, sehingga menjadi 2 Dataframe 
baru.

In [14]:
Q1 = df.Atk.quantile(0.25)
Q3 = df.Atk.quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_Atk_outliers = df[(df.Atk < lower_bound) | (df.Atk > upper_bound)]

df_Atk_non_outliers = df[(df.Atk >= lower_bound) & (df.Atk <= upper_bound)]

In [15]:
display(df_Atk_outliers)
display(df_Atk_non_outliers)

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,1000,77,2500,69,68,95
316,317,Chaosmon,Ultra,Vaccine,Neutral,25,3,1080,129,318,94,89,188

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86
5,6,Arcadiamon In-Tr.,In-Training,Free,Dark,3,0,720,85,86,59,81,93
...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116
337,338,Crusadermon NX,Mega,Virus,Dark,6,1,1030,100,118,99,109,121
338,339,Leopardmon NX,Mega,Data,Light,6,1,960,109,112,91,116,126
339,340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113
340,341,Gallantmon NX,Mega,Virus,Light,6,1,1070,93,122,109,111,108