# Exercise

In [10]:
import numpy as np
import pandas as pd
from scipy.stats import normaltest, mannwhitneyu, f_oneway, kruskal, ttest_1samp, wilcoxon, chi2_contingency
from statsmodels.stats.proportion import proportions_ztest

In [11]:
df = pd.read_csv('all_cars.csv')
df

,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
22261,Toyota,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
22262,Toyota,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
22263,Toyota,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
22264,Toyota,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
22265,Toyota,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

In [12]:
df.describe()

,year,price,mileage,tax,mpg,engineSize
count,22266.000000,22266.000000,22266.000000,22266.000000,22266.000000,22266.000000
mean,2016.995509,17542.591575,23501.863604,115.473592,55.151181,1.688489
std,2.133576,10589.835312,21111.157417,68.835239,14.834181,0.566379
min,1997.000000,850.000000,1.000000,0.000000,1.100000,0.000000
25%,2016.000000,9999.000000,7200.000000,30.000000,44.800000,1.400000
50%,2017.000000,14999.000000,18354.000000,145.000000,55.400000,1.600000
75%,2019.000000,21991.000000,33100.750000,145.000000,62.800000,2.000000
max,2020.000000,145000.000000,323000.000000,580.000000,256.800000,6.300000

In [13]:
df[df['mpg'] < 55]

,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
12,Audi,Q3,2016,17000,Manual,44915,Diesel,145,52.3,2.0
16,Audi,Q3,2016,15700,Automatic,28396,Diesel,145,53.3,2.0
18,Audi,Q5,2016,19000,Automatic,37652,Diesel,200,47.1,2.0
19,Audi,Q3,2014,17000,Manual,34110,Petrol,145,47.9,1.4
...,...,...,...,...,...,...,...,...,...,...
22253,Toyota,Verso-S,2012,5795,Automatic,61237,Petrol,30,54.3,1.3
22257,Toyota,IQ,2013,4950,Manual,72913,Petrol,30,54.3,1.3
22262,Toyota,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
22264,Toyota,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
22265,Toyota,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

**No.1**

Apakah ada hubungan antara mpg dan price?

In [14]:
df['mpg'].corr(df['price'])

-0.45849420801316665

Terdapat hubungan sebesar **-0,45** antara mpg dan harga mobil, yang menunjukkan adanya **hubungan negatif (berkebalikan)** yang **cukup kuat (sedang)**. Dengan kata lain, semakin kecil nilai mpg, semakin mahal harga mobilnya, atau semakin murah harga mobilnya, semakin besar nilai mpg-nya. 

Tetapi secara umum, yang kita ketahui bahwa mobil dengan mpg (efisiensi bahan bakar) yang tinggi seharusnya memiliki harga yang lebih mahal. Namun, dalam konteks ini, terdapat beberapa mobil bertipe bahan bakar 'Diesel' dan 'Petrol' yang didominasi oleh mobil mewah yang cenderung boros bahan bakar (mpg kecil)

### **No.2**

Apakah mobil Automatic dari Hyundai dan Toyota memiliki harga yang berbeda? Buktikan dengan
Uji Statistik?

In [15]:
# Sebelumnya dilakukan terlebih dahulu uji normalitas data untuk melihat apakah data yang ingin di uji berdistribusi normal atau tidak

brands = ['Hyundai', 'Toyota']
for brand in brands:
    price = df[(df['transmission'] == 'Automatic') & (df['brand'] == brand)]['price']
    st, pval = normaltest(price)
    if pval > 0.05:
        print(f"Nilai pval {brand}: {pval} maka Asumsi: Kita tidak memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Normal")
    else:
        print(f"Nilai pval {brand}: {pval} maka Asumsi: Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal")

Nilai pval Hyundai: 9.695613294664117e-103 maka Asumsi: Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal
Nilai pval Toyota: 5.546109373319639e-136 maka Asumsi: Kita memiliki cukup bukti untuk menolak H0, sehingga asumsi distribusi cenderung Tidak Normal

In [16]:
hyundai_price = df[(df['transmission'] == 'Automatic') & (df['brand'] == 'Hyundai')]['price']
toyota_price = df[(df['transmission'] == 'Automatic') & (df['brand'] == 'Toyota')]['price']

Didapatkan bahwa kedua nya memiliki distribusi yang di asumsikan tidak Normal, maka untuk Uji stastik kedua harga tersebut adalah menggunakan **Mann Whitney 2 sample** karna menggunakan Uji Non-Parametrik

In [17]:
tval, pval = mannwhitneyu(hyundai_price,toyota_price)
if pval < 0.05:
    print(f"Nilai p-value: {pval}, maka Asumsi: Tidak menunjukkan bahwa terdapat perbedaan yang signifikan antara harga mobil Automatic dari Hyundai dan Toyota")
else:
    print(f"Nilai p-value: {pval}, maka Asumsi: Menunjukkan bahwa terdapat perbedaan yang signifikan antara harga mobil Automatic dari Hyundai dan Toyota")

Nilai p-value: 0.6420999494897854, maka Asumsi: Menunjukkan bahwa terdapat perbedaan yang signifikan antara harga mobil Automatic dari Hyundai dan Toyota

### **No.3**

Apakah rata-rata pajak (tax) semua brand mobil keluaran tahun 2020 sama? Buktikan dengan Uji Statistik!

In [18]:
# ANOVA jika distribusi normal

brand3 = ['Hyundai', 'Toyota', 'Audi']
avg_tax = {}

for brand in brand3:
    avg_tax[brand] = df[(df['brand'] == brand) & (df['year'] == 2020)]['tax']

fval, pval = f_oneway(*avg_tax.values())

print(f"ANOVA Stat: {fval}, p-value: {pval}\n")

if pval < 0.05:
    print('ANOVA: Tolak H0, terdapat setidaknya dari 1 brand yang rata-rata taxnya tidak sama ')
else:
    print('ANOVA: Terima H0, tidak cukup bukti untuk menolak bahwa rata-rata tax sama untuk semua merek')

ANOVA Stat: 2.6466757937492953, p-value: 0.0713830007410631

ANOVA: Terima H0, tidak cukup bukti untuk menolak bahwa rata-rata tax sama untuk semua merek

In [19]:
# KRUSKAL jika tidak berdistribusi normal

for brand in brand3:
    avg_tax[brand] = df[(df['brand'] == brand) & (df['year'] == 2020)]['tax']

hval, pval = kruskal(*avg_tax.values())

print(f"Kruskal Stat: {hval}, p-value: {pval}\n")

if pval < 0.05:
    print('Kruskal-Wallis: Tolak H0, terdapat perbedaan signifikan antara rata-rata tax dari setidaknya 1 merek')
else:
    print('Kruskal-Wallis: Terima H0, tidak cukup bukti untuk menolak bahwa rata-rata tax sama untuk semua merek')

Kruskal Stat: 35.36807606000119, p-value: 2.0889106582577942e-08

Kruskal-Wallis: Tolak H0, terdapat perbedaan signifikan antara rata-rata tax dari setidaknya 1 merek

### **No.4**

Apakah rata-rata nilai price dari semua mobil Manual adalah 12500 pondsteling! Buktikan dengan Uji Statistik!

In [20]:
#  T test Paired

tval, pval = ttest_1samp(df[df['transmission'] == 'Manual']['price'], 12500)

print(f"T-Test Paired Stat: {tval}, p-value: {pval}\n")

if pval/2 < 0.05:
    # Ho : rata-rata unit_price = 12500
    # Ha : rata-rata unit price < 12500
    print("Tolak Ho")
else:
    print("Terima Ho")

T-Test Paired Stat: -1.2653069516170026, p-value: 0.20578628955155356

Terima Ho

In [21]:
# Wilcoxon

tval, pval = wilcoxon(df[df['transmission'] == 'Manual']['price'] - 12500)

print(f"Wilcoxon Stat: {tval}, p-value: {pval}\n")

if pval/2 < 0.05 and (df[df['transmission'] == 'Manual']['price'].median() > 12500):
    # Ho : rata-rata unit_price = 12500
    # Ha : rata-rata unit price < 12500
    print("Tolak Ho")
else:
    print("Terima Ho")

Wilcoxon Stat: 30596777.5, p-value: 5.202263145824944e-28

Terima Ho

## **No.5**

- Buat sebuah dataframe berisi mobil Hyundai dan Toyota tahun 2019!
- Dari dataframe yang telah dibuat, lakukan uji hipotesis untuk membuktikan apakah brand mobil ada kaitannya dengan jenis transmisi!

In [22]:
hyundai_toyota = df[(df['brand'].isin(['Hyundai', 'Toyota'])) & (df['year'] == 2019)]
contingency_table = pd.crosstab(hyundai_toyota['brand'], hyundai_toyota['transmission'])

chi2, p, dof, expected = chi2_contingency(contingency_table)

print(f"Chi2 Stat: {chi2}, p-value: {p}\n")

if p < 0.05:
    print("Tolak Ho: Ada hubungan antara merek mobil (Toyota dan Hyundai) dengan jenis transmisi.")
else:
    print("Gagal tolak Ho: Tidak ada hubungan antara merek mobil (Toyota dan Hyundai) dengan jenis transmisi.")

Chi2 Stat: 203.77863785068098, p-value: 5.623815000905951e-45

Tolak Ho: Ada hubungan antara merek mobil (Toyota dan Hyundai) dengan jenis transmisi.

## **No.6**

- Apakah 50% dari seluruh mobil yang dijual menggunakan bahan bakar Petrol? Buktikan dengan uji statistik!

In [23]:
count_petrol = sum(df['fuelType'] == 'Petrol')
n = len(df)

stat, p_value = proportions_ztest(count_petrol, n, 0.5)

print("\nUji Proporsi Satu Sampel:")
print(f"Z-Stat: {stat}, p-value: {p_value}\n")

if p_value < 0.05:
    print("Tolak Ho: Proporsi mobil yang menggunakan bahan bakar petrol tidak sama dengan 50%.")
else:
    print("Terima Ho: Proporsi mobil yang menggunakan bahan bakar petrol sama dengan 50%.")

Uji Proporsi Satu Sampel:
Z-Stat: 12.359734037187444, p-value: 4.3158227056675195e-35

Tolak Ho: Proporsi mobil yang menggunakan bahan bakar petrol tidak sama dengan 50%.

## **No.7**

- Apakah proporsi mobil berbahan bakar Diesel pada mobil bertranmisi Manual dan Automatic berbeda! (Apakah proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Manual berbeda dari proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Automatic?)

- Buktikan dengan uji statistik!

In [24]:
count_manual_diesel = sum((df['transmission'] == 'Manual') & (df['fuelType'] == 'Diesel'))
manual_total = sum(df['transmission'] == 'Manual')
count_automatic_diesel = sum((df['transmission'] == 'Automatic') & (df['fuelType'] == 'Diesel'))
automatic_total = sum(df['transmission'] == 'Automatic')

stat, p_value = proportions_ztest([count_manual_diesel, count_automatic_diesel], [manual_total, automatic_total])

print("\nUji Proporsi Dua Sampel (Manual vs Automatic):")
print(f"Z-Stat: {stat}, p-value: {p_value}\n")


if p_value < 0.05:
    print("Tolak Ho: Proporsi mobil berbahan bakar Diesel pada mobil bertransmisi Manual berbeda dengan proporsi mobil berbahan bakar Diesel pada mobil bertransmisi Automatic.")
else:
    print("Gagal tolak Ho: Proporsi mobil berbahan bakar Diesel pada mobil bertransmisi Manual sama dengan proporsi mobil berbahan bakar Diesel pada mobil bertransmisi Automatic.")

Uji Proporsi Dua Sampel (Manual vs Automatic):
Z-Stat: -3.584508418827359, p-value: 0.00033771367194938205

Tolak Ho: Proporsi mobil berbahan bakar Diesel pada mobil bertransmisi Manual berbeda dengan proporsi mobil berbahan bakar Diesel pada mobil bertransmisi Automatic.