# Exercise

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('all_cars.csv')
df

,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0
...,...,...,...,...,...,...,...,...,...,...
22261,Toyota,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
22262,Toyota,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
22263,Toyota,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
22264,Toyota,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
22265,Toyota,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

**No.1**

Apakah ada hubungan antara mpg dan price?

### **No.2**

Apakah mobil Automatic dari Hyundai dan Toyota memiliki harga yang berbeda? Buktikan dengan
Uji Statistik?

### **No.3**

Apakah rata-rata pajak (tax) semua brand mobil keluaran tahun 2020 sama? Buktikan dengan Uji Statistik!

### **No.4**

Apakah rata-rata nilai price dari semua mobil Manual adalah 12500 pondsteling! Buktikan dengan Uji Statistik!

## **No.5**

- Buat sebuah dataframe berisi mobil Hyundai dan Toyota tahun 2019!
- Dari dataframe yang telah dibuat, lakukan uji hipotesis untuk membuktikan apakah brand mobil ada kaitannya dengan jenis transmisi!

## **No.6**

- Apakah 50% dari seluruh mobil yang dijual menggunakan bahan bakar Petrol? Buktikan dengan uji statistik!

## **No.7**

- Apakah proporsi mobil berbahan bakar Diesel pada mobil bertranmisi Manual dan Automatic berbeda! (Apakah proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Manual berbeda dari proporsi mobil berbahan bakar Diesel dari seluruh mobil bertranmisi Automatic?)

- Buktikan dengan uji statistik!